version: "3.8"

networks:
  default: 
    name: ${DEFAULT_NETWORK_NAME:-booxit-backend-network}

services:
  php:
    hostname: ${PHP_CONTAINER_HOSTNAME:-booxit-backend-php}
    build:
      context: ./docker/php
      target: app_base
    restart: unless-stopped
    volumes:
      - ./:/var/www
    environment:
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: amqp://${RABBITMQ_USER:-booxit-rabbit}:${RABBITMQ_PASS:-pass}@${RABBIT_CONTAINER_HOSTNAME:-booxit-backend-rabbitmq}:5672
    networks:
      - default

  caddy:
    hostname: ${CADDY_CONTAINER_HOSTNAME:-booxit-backend-caddy}
    image: caddy:2.8-alpine
    depends_on:
      - php
    restart: unless-stopped
    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./public:/var/www/public
    networks:
      - default

  database:
    hostname: ${DB_CONTAINER_HOSTNAME:-booxit-backend-db}
    image: postgres:${POSTGRES_VERSION:-15}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    volumes:
      - ./docker/db/data:/var/lib/postgresql/data:rw
    networks:
      - default

  rabbitmq:
    hostname: ${RABBIT_CONTAINER_HOSTNAME:-booxit-backend-rabbitmq}
    image: rabbitmq:4.0.7-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-booxit-rabbit}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-pass}
    volumes:
      - ./docker/rabbitmq:/etc/rabbitmq
    networks:
      - default
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 5s
      retries: 10
  
  php-queue-consumer:
    hostname: ${PHP_QUEUE_CONSUMER_CONTAINER_HOSTNAME:-booxit-backend-php-queue-consumer}
    build:
      context: ./docker/php
      target: app_consumer
    restart: unless-stopped
    volumes:
      - ./:/var/www
      - ./docker/php/consumer:/etc/supervisor/
    environment:
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: amqp://${RABBITMQ_USER:-booxit-rabbit}:${RABBITMQ_PASS:-pass}@${RABBIT_CONTAINER_HOSTNAME:-booxit-backend-rabbitmq}:5672
    command: "supervisord"
    depends_on: 
      rabbitmq:
        condition: service_healthy
    networks:
      - default

