# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    timezone: '%env(APP_TIMEZONE)%'
    storage_directory: '%kernel.project_dir%/%env(STORAGE_DIRECTORY)%'
    defaultRefreshTokenTTL: 259200
    
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    App\Service\Auth\AuthServiceInterface:
        class: 'App\Service\Auth\AuthService'
        arguments:
            $refreshTokenTTL: '%env(int:default:defaultRefreshTokenTTL:REFRESH_TOKEN_TTL)%'

    App\Service\Auth\RouteGuardInterface: '@App\Service\Auth\RouteGuard'

    App\Serializer\DateTimeNormalizer:
        decorates: 'serializer.normalizer.datetime'
        arguments:
            $defaultNormalizer: '@App\Serializer\DateTimeNormalizer.inner'
            $timezone: '%timezone%'
        tags: [ 'serializer.normalizer' ]

    App\Service\Entity\FileService:
        arguments:
            $storageDir: '%storage_directory%'

    App\Service\Auth\AccessRule\:
        resource: '../src/Service/Auth/AccessRule/'
        public: true

    App\Documentation\Processor\:
        resource: '../src/Documentation/Processor/'
        tags: [ nelmio_api_doc.swagger.processor ]

    App\Documentation\Processor\MapQueryStringProcessor:
        tags:
            - { name: nelmio_api_doc.swagger.processor, priority: -20 }

    App\Service\EntitySerializer\EntitySerializerInterface: '@App\Service\EntitySerializer\EntitySerializer'
    App\Service\EmailConfirmation\EmailConfirmationHandlerInterface: 
        class: 'App\Service\EmailConfirmation\EmailConfirmationHandler'
        arguments:
            $secret: '%env(APP_SECRET)%'

    acme_api.event.jwt_invalid_listener:
        class: App\EventListener\JWTInvalidListener
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_invalid, method: onJWTInvalid }

    acme_api.event.jwt_expired_listener:
        class: App\EventListener\JWTExpiredListener
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_expired, method: onJWTExpired }

    App\ValueResolver\EntityValueResolver:
        decorates: 'doctrine.orm.entity_value_resolver'
        arguments:
            $inner: '@App\ValueResolver\EntityValueResolver.inner'

