nelmio_api_doc:
    documentation:
        components:
            securitySchemes:
                Bearer:
                    type: http
                    scheme: bearer
                    bearerFormat: JWT
            schemas:
                AuthTokens:
                    type: object
                    properties:
                        access_token:
                            type: string
                            readOnly: true
                        refresh_token:
                            type: string
                            readOnly: true
                LoginCredentials:
                    type: object
                    properties:
                        email:
                            type: string
                            format: email
                        password:
                            type: string
                            example: password123
                RefreshCredentials:
                    type: object
                    properties:
                        refresh_token:
                            type: string
                ServerErrorResponse:
                    type: object
                    properties:
                        status:
                            type: string
                            example: 'error'
                        message:
                            type: string
                            example: 'Server Error'
                        data:
                            type: object
                            example: null
                        error_code:
                            type: integer
                            example: null
