{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom-swagger-styles.css') }}">
{% endblock stylesheets %}

{% block header_block %}
    <header>
        {% block header %}
            <div id="logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo">
            </div>
        {% endblock header %}
    </header>
{% endblock header_block %}